@charset "utf-8";body{background:#16161a;color:#f8f8f8}
:root{--swiper-theme-color:#4cccfe}
a,h1,h1 a,h2,h2 a,h3,h3 a,h4,h4 a,h5,h5 a,h6,h6 a{color:#f8f8f8}
a:hover{color:#4cccfe}
.text-color{color:#4cccfe}
.text-cherry{color:#4cccfe}
.text-cyan{color:#85d3d5}
.text-grape{color:#777ffb}
.text-orange{color:#fb7c4d}
.text-violet{color:#bc78ec}
.iconfont{color:#4cccfe}
.bottom-line-dot::before,.bottom-line::after,.top-line-dot::before,.top-line::before{border-color:#444}
.sitemap ul{border-top:1px dashed #25252b;}
.title-lb{border-color:#4cccfe}
.type-select-t ul li.opt span{background-color:#444;color:#333}
.form-control{background-color:hsla(0,0%,100%,.1);color:#999;border:1px solid #25252b}
.form-control:focus{border-color:#4cccfe;-webkit-box-shadow:inset 0 1px 1px rgba(250,101,103,.075),0 0 8px rgba(250,101,103,.6)}
body.box{background:#16161a;color:#f8f8f8}
body.box .layout-box,body.box .type-box{background:#25252b;padding:15px 20px 10px 20px}
body.box .pannel-box{background:#25252b;padding:10px}
body.box .nav-box{background:#25252b}
.header-nav-wrap{background:rgba(0,0,0,.6)}
.header-top.color.vod{background-color:#16161a}
.header-top.color.vod .header-menu>li a{text-shadow:none;color:#f8f8f8}
.header-top.color.vod .header-menu>li a:hover,.header-top.color.vod .header-menu>li.active>a{text-shadow:none;color:#4cccfe}
.header-top.color.vod .header-menu-more .dropdown-box li a.actives,.header-top.color.vod .header-menu-more .dropdown-box li a:hover{color:#fff;text-shadow:1px 1px 2px #000}
.header-top.color.vod .header-menu-more .arrow-down{border-left:1px solid #333;border-bottom:1px solid #333}
.details-nav ul li.active a,.details-nav ul li:hover a,.star-nav ul li.active a,.star-nav ul li:hover a{color:#f8f8f8}
.star-top-bg,.vod-top-bg{background:#25252b}
.star-top-bg{border-bottom:1px solid #444}
.vod-detail-info{color:#f8f8f8;text-shadow:none}
.vod-detail-info h1{color:#fff}
.vod-detail-info ul li a{border-bottom:1px dotted #4cccfe}
.user-bt .iconfont,.user-bt a:hover .iconfont,.vod-detail-info ul li a{color:#4cccfe}
.vod-detail-info ul li span.text-ccc{color:#999}
.user-bt a{color:#4cccfe;border:1px solid #4cccfe}
.user-bt a.active,.user-bt a:hover{background:#4cccfe;color:#fff;border:1px solid #4cccfe}
.pingfen-total strong,.user-bt a.active .iconfont,.user-bt a:hover .iconfont{color:#fff}
.rating-bar-item{background:linear-gradient(to right,#4de0ff 0,#4cccfe 100%);box-shadow:0 2px 6px rgba(250,101,103,.2);color:#fff;border:1px solid #4cccfe}
.list-txt li:hover{background:#25252b}
.details-nav-box{border-top:1px solid #444}
.top-nav ul li.active a{color:#4cccfe}
.star-nav{border:1px solid #444;border-top:none;overflow:hidden;background:#25252b}
.details-nav{background:#25252b}
.star-nav ul li.active a,.star-nav ul li:hover a{color:#fff}
.star-nav ul li.active,.star-nav ul li:hover{background:linear-gradient(to right,#4cccfe 0,#4de0ff 100%);color:#fff}
.details-nav ul li.active,.details-nav ul li:hover{background:linear-gradient(to right,#4cccfe 0,#4de0ff 100%);color:#fff}
.star-info-img .star_digg a{border:1px solid #4cccfe;color:#4cccfe}
.star-info-img .star_digg a:hover{background:#4cccfe;color:#fff;border:1px solid #4cccfe}
.star-info-img .star_digg a:hover .iconfont{color:#fff}
.star-info-img .star_digg .iconfont{color:#4cccfe}
.star-box{background:#25252b;border:1px solid #444}
.article .article-remark{background:#25252b;color:#999}
.btn-color,.btn-color:hover{background:linear-gradient(to right,#4cccfe 0,#4de0ff 100%);box-shadow:0 2px 6px rgba(250,133,135,.2);color:#fff;border:none;border-radius:20px}
.btn-success,.btn-success:hover{background-color:#eee;color:#fff;background:linear-gradient(to right,#4cccfe 0,#4de0ff 100%);box-shadow:0 2px 6px rgba(250,133,135,.2)}
.btn-default{background-color:#25252b}
.btn-warm{background-color:#4cccfe;background:linear-gradient(to right,#4cccfe 0,#ff9f16 100%);box-shadow:0 5px 10px rgba(255,111,0,.25)}
.btn-primary{background-color:#4fb1f7;background:linear-gradient(to right,#4fb1f7 0,#6bb8ee 100%);box-shadow:0 5px 10px rgba(107,184,238,.25)}
.btn-danger{background-color:#fc000c;background:linear-gradient(to right,#fc000c 0,#f9444d 100%);box-shadow:0 5px 10px rgba(249,68,77,.25)}
.btn-info{background-color:#5bc0de;background:linear-gradient(to right,#5bc0de 0,#7cc1d6 100%);box-shadow:0 5px 10px rgba(124,193,214,.25)}
.btn-gray{background-color:#282828;color:#ddd;background:linear-gradient(to right,#282828 0,#3b3b3b 100%);box-shadow:0 5px 10px rgba(59,59,59,.25)}
.btn-danger,.btn-info,.btn-primary,.btn-warm{color:#fff}
.btn-danger:hover,.btn-gray:hover,.btn-info:hover,.btn-primary:hover,.btn-warm:hover{color:#fff}
.btn.disabled{cursor:not-allowed;opacity:.6}
.header-menu-more .dropdown-box li a{background-color:#444}
.header-menu-more .dropdown-box li a.actives,.header-menu-more .dropdown-box li a:hover{background:linear-gradient(to right,#4cccfe 0,#4de0ff 100%);color:#fff}
.border{border-color:#eee}
.border-primary{border-color:#4fb1f7}
.border-danger{border-color:red}
.border-info{border-color:#5bc0de}
.header-top .header-menu>li.active>a,.header-top .header-menu>li>a:hover{color:#4cccfe}
.header-top.color .header-logo,.header-top.color .header-menu>li a,.header-top.color .user-login .iconfont,.header-top.color .user-playlog .iconfont{color:#fff;text-shadow:1px 1px 2px #000}
.header-top.color .header-menu>li.active>a,.header-top.color .header-menu>li>a:hover{color:#4cccfe;text-shadow:1px 1px 2px #000}
.header-menu>li.active>a,.header-menu>li>a:hover{color:#4cccfe}
.header-menu-more .arrow-down{border-left:1px solid #f8f8f8;border-bottom:1px solid #f8f8f8}
.header-top.color .header-menu-more .arrow-down{border-left:1px solid #fff;border-bottom:1px solid #fff}
.header-top.color .header-menu-more ul li a{color:#f8f8f8;text-shadow:none}
.header-menu-more .dropdown-box li a.actives,.header-menu-more ul li a:hover{text-shadow:1px 1px 2px #000}
.header-top.color .header-menu-more ul li a:hover,.index-slide-title{color:#fff;text-shadow:1px 1px 2px #000}
.header-menu-more .dropdown-box .btn:hover{background:linear-gradient(to right,#4cccfe 0,#4de0ff 100%);box-shadow:0 2px 6px rgba(250,133,135,.2);color:#fff}
.header-top{background-color:#16161a;box-shadow:0 2px 6px rgba(0,0,0,.1)}
.header-top .header-menu>li>a{color:#f8f8f8;text-shadow:none}
.header-top .iconfont,.top-tool .iconfont{color:#f8f8f8}
.filmtime-nav,.top-nav{background:rgba(51,51,51,.6)}
.details-play-title .details-play-nav>li.active>a,.details-play-title .details-play-nav>li>a:hover{background-color:#25252b}
.player-more-list li:hover{background-color:#444}
.player-more-list li:hover a{color:#f8f8f8}
.header-search input{background:hsla(0,0%,100%,.1);color:#f8f8f8}
#nav-signed,.autocomplete-suggestions,.box-show,.dropdown-box{background-color:#25252b;box-shadow:0 12px 23px 0 rgba(0,0,0,.22);border:1px solid #25252b}
.player-more-list{background-color:#25252b;box-shadow:0 2px 5pxrgba(0,0,0,.1)}
#nav-signed ul li:hover{background:#444}
.autocomplete-suggestions strong{color:#4cccfe}
.autocomplete-selected{background-color:#f5f5f5;color:#4cccfe}
.index-slide-box.color .index-slide-txt ul li.active a,.index-slide-box.color .index-slide-txt ul li.swiper-slide-thumb-active a,.index-slide-txt ul li.active a,.index-slide-txt ul li.swiper-slide-thumb-active a{color:#4cccfe}
.index-slide-txt ul li.active a,.index-slide-txt ul li.swiper-slide-thumb-active a{border-bottom:2px solid #4cccfe}
.index-slide-txt{background:linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.7) 10%,rgba(0,0,0,.8) 50%,rgba(0,0,0,.7) 90%,rgba(0,0,0,0) 100%)}
.index-slide-txt ul li.active a,.index-slide-txt ul li.swiper-slide-thumb-active a{background:#25252b}
.index-slide-txt ul li a{color:#f8f8f8}
.img-list .tips{background:#4cccfe}
.img-list .ltips{background:#4cccfe}
.img-list .tipss{background:#4cccfe}
.img-list .flower{color:#f18167}
.img-list .tipsc{background:#b0b7c2}
.img-list li:nth-child(1) .tipsc{background:#ff4a4a;box-shadow:0 2px 6px rgba(255,74,74,.2)}
.img-list li:nth-child(2) .tipsc{background:#ff7701;box-shadow:0 2px 6px rgba(255,119,1,.2)}
.img-list li:nth-child(3) .tipsc,.img-list li:nth-child(4) .tipsc,.img-list li:nth-child(5) .tipsc{background:#ffb400;box-shadow:0 2px 6px rgba(255,180,0,.2)}
.star-infos .digg_link .iconfont,.star-top-info .digg_link .iconfont,.top-tool li:hover .iconfont{color:#4cccfe}
.top-tool li .icon-weixin2{color:#5cb85c}
.top-tool li:hover .icon-weixin2{color:#48a248}
.top-tool li .icon-liuyan1{color:#f56467}
.footer{background:#25252b}
.dropdown-title,.playlog-title,.playlog-tool{background-color:#444;border-bottom:1px solid #444;text-align:center}
.playlog-box:after,.playlog-box:before{border-bottom:11px solid #444}
#nav-signed:after,#nav-signed:before{border-bottom:11px solid #25252b}
#nav-signed:before{border-bottom-color:#25252b}
#nav-signed ul li:hover a{color:#4cccfe}
.header-nav-wrap ul li.active a{background:linear-gradient(to right,#4cccfe 0,#4de0ff 100%);background-clip:border-box;-webkit-background-clip:text;-webkit-text-fill-color:transparent}
.header-nav-wrap ul li.active a::after,.top-nav ul li.active::after{background:linear-gradient(to right,#4cccfe 0,#4de0ff 100%);box-shadow:0 2px 6px rgba(250,133,135,.2)}
.news-txt-top{border-bottom:1px solid #25252b}
.type-box{background:#25252b}
.top-tool li{background:rgba(51,51,51,.6);box-shadow:0 0 12px 0 rgba(0,0,0,.15)}
.txt-list li{border-bottom:1px dashed #25252b}
.stime::after{background:#25252b}
body.box .stime::after{background:#444}
.stime::before{background:#444}
body.box .stime::before{background:#666}
.box-title .iconfont{color:#4cccfe}
.box-slide .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{background:#4cccfe}
.img-list .score{background-color:#4cccfe}
.img-list .score::before{border-top:4px solid #4cccfe;border-left:4px solid transparent}
.news-fl{background:#4cccfe;color:#fff}
.news-list li:hover,.star-hot-box{background:#25252b}
.article-content{color:hsla(0,0%,100%,.87)}
.news-title{background:#25252b}
.mcat-nav li a,.news-tips a,.news-tips em{background-color:#25252b}
body.box .mcat-nav li a,body.box .news-tips a,body.box .news-tips em{background-color:#1e1e24}
.article-play-nav ul li.active,.article-play-nav ul li:hover,.details-play-list ul li a:hover,.filmtime-nav-l li a:hover,.filmtime-nav-l li.active a,.filmtime-nav-r li a:hover,.filmtime-nav-r li.active a,.mcat-nav li.active a,.mcat-nav li:hover a,.news-tips a:hover{background:linear-gradient(to right,#4cccfe 0,#4de0ff 100%);box-shadow:0 2px 6px rgba(250,133,135,.2);color:#f8f8f8}
.mcat-box{background:#25252b}
.type-select ul li.active a{background:linear-gradient(to right,#4cccfe 0,#4de0ff 100%)}
.type-select-t ul li.opt a{background:linear-gradient(to right,#4cccfe 0,#4de0ff 100%)}
.type-order{border-bottom:2px solid #25252b}
body.box .type-order{border-bottom:2px solid #444}
.type-order a.active{background:linear-gradient(to right,#4cccfe 0,#4de0ff 100%);background-clip:border-box;-webkit-background-clip:text;-webkit-text-fill-color:transparent}
.type-order a.active{border-color:#4cccfe}
.star-hot-list{border-bottom:1px solid #25252b}
body.box .star-hot-list{border-bottom:1px solid #444}
.img-pic img,.star-pic img,.vod-detail-thumb img{background:#25252b}
.actor-title{background:#25252b}
.hot-star-list li.active a span:after,.hot-star-list li.active a span:before,.hot-star-list li:hover a span:after,.hot-star-list li:hover a span:before{border-bottom:8px solid #16161a}
.vod-detail-right .hot-star-list li.active a span:after,.vod-detail-right .hot-star-list li:hover a span:after{border-bottom: 8px solid #25252b}
body.box .hot-star-list li.active a span::after{border-bottom:8px solid #25252b}
.hot-star-list li.active a span:before,.hot-star-list li:hover a span:before{border-bottom-color:#444}
.star-video-list{border-top:1px solid #444}
li:hover .stime::before{background:#4cccfe}
.star-hot-arrow{background:#4cccfe}
.star-hot-arrow:after,.star-hot-arrow:before{border-bottom:8px solid #16161a}
body.box .star-hot-arrow:after{border-bottom:8px solid #25252b}
.star-hot-arrow:before{border-bottom-color:#4cccfe}
.star-top-info h1 .weibo .iconfont{color:#4cccfe}
.star-top-info{color:#f8f8f8}
.star-hot-box a.text-666{color:#f8f8f8}
.article-content a{color:#4cccfe;border-bottom:1px dotted #4cccfe}
.title-bg{background:#25252b}
.article-content img,.article-images-content img{border:1px solid #444}
.details-play-list ul li a:hover,.details-play-list ul li.active a,.story-page a:hover{background:linear-gradient(to right,#4cccfe 0,#4de0ff 100%);box-shadow:0 2px 6px rgba(250,133,135,.2);color:#fff}
.details-play-list ul li a,.story-page a{background-color:#25252b;color:#f8f8f8}
body.box .details-play-list ul li a,body.box .story-page a{color:#f8f8f8}
body.box .details-play-list ul li a:hover,body.box .story-page a:hover{color:#f8f8f8}
body.box .details-play-title .details-play-nav > li > a:hover, body.box .details-play-title .details-play-nav > li.active > a {background-color:#25252b;}
.txt-list li i{background:#444}
.bottom-nav{background:#25252b}
.bottom-nav .iconfont{color:#f8f8f8}
.bottom-nav a.text-color .iconfont,.bottom-nav a:hover .iconfont{color:#4cccfe}
.story-nav-page{border-bottom:2px solid #444}
.story-nav-page span:hover{color:#4cccfe}
.story-nav-page span.active{border-color:#4cccfe;color:#4cccfe}
.min-play-list::-webkit-scrollbar-thumb{background-color:#4cccfe}
.min-play-list::-webkit-scrollbar-track{background:#ededed}
.player-shrink{color:#fff}
.player-shrink:hover{background:rgba(0,0,0,.8)}
.player-tipss{background-color:rgba(0,0,0,.6);color:#fff}
.player-tipss span.iconfont{color:#fff;font-size:18px}
.vod-play-box,body.box .vod-play-box{background:#1e1e24}
#page ul li,.box-page ul li{background-color:#25252b}
#page ul li.disabled,#page ul li.disabled:hover,.box-page ul li.disabled,.box-page ul li.disabled:hover{background-color:#444;color:#999}
#page ul li.active,#page ul li:hover,#page ul li:hover a,.box-page ul li.active,.box-page ul li:hover,.box-page ul li:hover a{background-color:#4cccfe;color:#fff}
.comment-text,.comment-top{color:#666}
.comment-assist .digg strong,.comment-assist a:hover,.comment-top .user,.comment-top a{color:#4cccfe}
.comment-replay-assist .ui-button{color:#fff}
.comment-sub{background-color:#fff}
.comment-num,.comment-sub{border:1px solid #25252b}
.comment-post{background-color:#25252b;color:#999}
.comment-post-arrow{border-right:12px solid #25252b}
.comment-replay-arrow{border-bottom:12px solid #e7e7e7}
.comment-replay{background:#e7e7e7}
.comment-num{background-color:#25252b;color:#999}
.smilePage a.current,.smilePage a:hover{background-color:#4cccfe;color:#fff}

.zanpian-mobile .fenlei-nav{background:#444}
.zanpian-mobile .header-top,.zanpian-mobile .header-top.color{background:linear-gradient(to right,#4cccfe 0,#4de0ff 100%);box-shadow:0 2px 6px rgba(250,133,135,.2)}
.zanpian-mobile .header-top .header-logo,.zanpian-mobile .header-top .user-login .iconfont,.zanpian-mobile .header-top .user-playlog .iconfont{color:#fff;text-shadow:1px 1px 2px #000}
.zanpian-mobile .user-login .iconfont,.zanpian-mobile .user-playlog .iconfont{color:#fff}
.zanpian-mobile .top-nav.fenlei{border:none}
.zanpian-mobile .player-right{background:#25252b}
body.box .zanpian-mobile .layout-box,body.box .zanpian-mobile .pannel-box,body.box .zanpian-mobile .type-box{padding:10px 0}
body.box .zanpian-mobile .nav-box{padding:10px 0;margin-top:0}
@media (max-width:767px){
.fenlei-nav{background:#444}
.header-top,.header-top.color{background:linear-gradient(to right,#4cccfe 0,#4de0ff 100%);box-shadow:0 2px 6px rgba(250,133,135,.2)}
.header-top .header-logo,.header-top .user-login .iconfont,.header-top .user-playlog .iconfont{color:#fff;text-shadow:1px 1px 2px #000}
.user-login .iconfont,.user-playlog .iconfont{color:#fff}
.top-nav.fenlei{border:none}
.player-right{background:#25252b}
body.box .layout-box,body.box .pannel-box,body.box .type-box{padding:10px 0}
body.box .nav-box{padding:10px 0;margin-top:0}
}
